html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #DFDCE3;
}

.container {
    min-height: 75%;
    border: 3px solid black;
    border-radius: 10px;
    padding: 0;
    width: fit-content;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #565656;
    color: #DFDCE3;
}

main {
    padding: 10px;
}

.addInput {
    margin: 5px;
}

#fn {
    margin-left: 0;
}

#as {
    margin-right: 0px;
}

#submitBtn {
    float: right;
    border: none;
    background-color: #565656;
    color: #DFDCE3;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

table, th, td {
    border: 2px solid #565656;
    border-collapse: collapse;
}

table {
    width: 100%;
}

th {
    background-color: #565656;
    color: #DFDCE3;
    padding: 5px;
    text-align: center;
}

td {
    padding: 5px;
}

tr:nth-child(odd) {
    background-color: #EFEFEF;
}

.tabSalary {
    text-align: right;
}